ARCHVIEW_PORT=8080
CMS_API_PORT=8082

MONGODB_URI=mongodb://mongo:27017
MONGODB_DATABASE=rossmoney_me
MONGODB_COLLECTION=cms_documents
MONGODB_SEED_DEFAULTS=true

DOCKER_API_VERSION=v1.44
DOCKER_HOST=tcp://socket-proxy:2375
HOST_PROC=/host/proc
HOST_SYS=/host/sys
HOST_ROOT=/host/root

CONTAINERS=1
IMAGES=1
INFO=1
PING=1
POST=0
VERSION=1
LOG_LEVEL=info
