MONGODB_URI=mongodb://mongo:27017/rossmoney_me
PAYLOAD_SECRET=rossmoney_payload_secret_key_change_me
SERVER_URL=https://www.rossmoney.me
PAYLOAD_SEED=true

DOCKER_API_VERSION=v1.44
DOCKER_HOST=tcp://socket-proxy:2375
HOST_PROC=/host/proc
HOST_SYS=/host/sys
HOST_ROOT=/host/root

CONTAINERS=1
IMAGES=1
INFO=1
PING=1
POST=0
VERSION=1
LOG_LEVEL=info
